$page-color: #eeede2;
$txt-color: #6c4800;
$block: #f6a810;
$header-font: "Domine", serif;
$par-font: "Playfair Display", serif;
$base-size: 16px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Universal Styles
body {
  background-color: $page-color;
  color: $txt-color;
  font-size: $base-size;
}
h1 {
  font-family: $header-font;
}
p {
  font-family: $par-font;
}
form {
  font-family: $header-font;
  display: flex;
  flex-direction: column;

  label,
  input,
  textarea {
    margin-bottom: $base-size / 2;
  }
}
button {
  background-color: $txt-color;
  color: $page-color;
  font-family: $header-font;
  letter-spacing: 2px;
  padding: $base-size;
  border: 1px $txt-color;
  border-radius: 34px;

  &:hover {
    opacity: 75%;
  }
}
footer {
  height: $base-size * 5;
  background-color: $txt-color;
  color: $page-color;
  text-align: center;
  align-items: center;
  padding: ($base-size * 2.5) 0;
}

// Utility
.color-block {
  position: absolute;
  width: 983px;
  height: 578px;
  background-color: $block;
  opacity: 13%;
  margin-left: ($base-size * 6);
  z-index: -1;
}

// navbar
nav {
  background-color: $page-color;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: $base-size;
  margin: 0 auto ($base-size * 2);
  z-index: 2;

  .logo-name {
    display: flex;

    h1 {
      font-weight: bold;
      font-size: ($base-size * 4);
      padding-left: $base-size;
      padding-top: $base-size;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      font-weight: 700;
      font-size: ($base-size * 1.5);
      padding-left: ($base-size * 3);

      &:hover {
        color: $block;
        cursor: pointer;
      }
    }
  }

  img {
    display: none;
  }
}

// Page Container
.container {
  margin: ($base-size * 7) auto 0;
  max-width: 80%;
}

// Section styling
.home {
  margin-top: ($base-size * 17);
  div {
    max-width: 65%;
    float: left;
    height: 75vh;
    h1 {
      text-align: left;
      font-weight: bold;
      font-size: ($base-size * 4);
      margin-bottom: ($base-size * 7);

      span {
        font-size: 150%;
        padding-left: ($base-size * 2);
      }
    }
    .home-info {
      max-width: 100%;
      font-size: ($base-size * 2.25);
      line-height: ($base-size * 0.75);
      margin-left: ($base-size * 9);

      p {
        padding-bottom: ($base-size * 3);
        line-height: 1.5;
      }
    }
  }
  img {
    float: right;
    max-width: 327px;
    max-height: 462px;
    border: 22px $txt-color solid;
    border-radius: 38px;
  }
}

.menu {
  clear: both;
  margin: ($base-size * 7) 0;
  padding-top: ($base-size * 13);

  img {
    width: 288px;
    border: solid 10px $block;
    border-radius: 38px;
  }

  .menu-info {
    display: grid;
    width: 95%;
    grid-template-columns: 65% 35%;
    grid-template-rows: 30% 70%;

    .gin {
      justify-self: start;
      margin-top: -($base-size * 9);
      margin-left: ($base-size * 3);
    }

    .cocktails {
      justify-self: start;
      align-self: center;
      font-size: 150%;
      margin-left: -($base-size * 13);
      padding-right: ($base-size * 3);
    }

    .goodies {
      justify-self: start;
      align-self: center;
      line-height: 1.2;
      margin-left: ($base-size * 7);
      padding-bottom: ($base-size * 4);

      p {
        font-size: 125%;
        margin-left: ($base-size * 2);
        padding: $base-size;
      }
    }

    .pie {
      justify-self: end;
      margin-right: -($base-size * 3);
    }
  }
}

.contact {
  display: grid;
  width: 100%;
  height: 578px;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-bottom: $base-size * 5;

  .contact-info {
    justify-self: right;

    h1 {
      font-size: 275%;
      margin-bottom: ($base-size * 3);
    }

    .address {
      margin-top: ($base-size * 2);
      font-size: $base-size * 1.25;
      p {
        font-weight: bold;
      }
    }
  }

  .contact-form {
    justify-self: center;

    input[type="text"],
    input[type="tel"] {
      border: none;
      border-bottom: $txt-color 2px solid;
      background-color: $block;
      color: $txt-color;
      border-radius: 34px;
      padding: ($base-size / 2);

      &:focus {
        outline: 2px solid $txt-color;
      }
    }

    textarea {
      border: $txt-color 2px solid;
      background-color: $block;
      color: $txt-color;
      border-radius: 34px;
      padding: ($base-size / 2);

      &:focus {
        outline: none;
      }
    }
  }
}

// Screens larger than 1440px
@media (min-width: 1450px) {
  .color-block {
    width: 70%;
  }

  .home {
    div {
      h1 {
        padding-right: $base-size * 10;
      }
    }
  }

  .menu {
    .menu-info {
      .gin {
        margin-top: -($base-size * 9);
        margin-left: $base-size * 6;
      }

      .pie {
        margin-right: ($base-size);
      }
    }
  }
}

@media (max-width: 1050px) {
  .container {
    overflow: hidden;
    max-width: 90%;
  }
  .color-block {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
  nav {
    max-width: 90%;
    left: 107px;

    .logo-name {
      width: 68%;
      justify-content: space-between;

      h1 {
        padding-left: 0;
      }
    }

    ul {
      display: none;
    }

    img {
      display: inline-block;
    }
  }

  .home {
    margin-top: ($base-size * 10);
    div {
      max-width: 60%;
      height: initial;

      h1 {
        text-align: center;

        span {
          padding-left: 0;
        }
      }

      .home-info {
        margin-left: $base-size * 5;
      }
    }

    img {
      margin-top: $base-size * 5;
    }
  }

  .menu {
    margin: 0;
    padding-top: $base-size * 10;
  }
}
