$page-color: #eeede2;
$txt-color: #6c4800;
$header-font: "Domine", serif;
$par-font: "Playfair Display", serif;
$base-size: 16px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Universal Styles
body {
  background-color: $page-color;
  color: $txt-color;
}
h1 {
  font-family: $header-font;
}
p {
  font-family: $par-font;
}

// navbar
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: ($base-size * 3.5) auto ($base-size * 2);

  .logo-name {
    display: flex;

    h1 {
      font-weight: bold;
      font-size: ($base-size * 4);
      padding-left: $base-size;
      padding-top: $base-size;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      font-weight: 700;
      font-size: ($base-size * 1.5);
      padding-left: ($base-size * 3);
    }
  }
}

// Section Styles
.container {
  margin: ($base-size * 7) auto 0;
  max-width: 80%;

  .home {
    div {
      max-width: 65%;
      float: left;
      height: 75vh;
      h1 {
        text-align: left;
        font-weight: bold;
        font-size: 64px;
        margin-bottom: ($base-size * 7);

        span {
          font-size: 150%;
          padding-left: ($base-size * 2);
        }
      }
      .home-info {
        max-width: 100%;
        font-size: 36px;
        line-height: 48px;
        margin-left: ($base-size * 9);

        p {
          padding-bottom: ($base-size * 3);
        }
      }
    }
    img {
      float: right;
      max-width: 327px;
      max-height: 462px;
      border: 22px $txt-color solid;
      border-radius: 38px;
    }
  }

  .menu {
    clear: both;
    margin-top: ($base-size * 7);
  }
}
